
.boton{
   display: flex;
   justify-items:center;
   gap: 30px;   
   
}
.gap{
   margin: 7px;
}
.saludo{
    margin-top: 20px;
    background-color: yellow;
    font-size: larger;
    text-align: center;
    font-size: 80px;
}

.logo{
   font-size: 70px;
   font-family:'Times New Roman', Times, serif;
    
}
.cart{
   font-size: 10px;
   display:flex;
   justify-items: center
}

.NavBar{height:30px}